@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root  {
    --accent-foreground: 204 5% 15%;
    --accent: 166 30% 88%;
    --accent-alt: 166 50% 25%;
    --background: 204 51% 95%;
    --border: 204 30% 82%;
    --card-foreground: 204 5% 15%;
    --card: 204 50% 90%;
    --destructive-foreground: 204 5% 90%;
    --destructive: 0 51% 50%;
    --foreground: 204 5% 10%;
    --input: 204 30% 50%;
    --muted-foreground: 204 5% 40%;
    --muted: 166 30% 88%;
    --popover-foreground: 204 95% 10%;
    --popover: 204 51% 95%;
    --primary-foreground: 0 0% 100%;
    --primary: 204 100% 26.9%;
    --radius: 1rem;
    --ring: 204 100% 26.9%;
    --secondary-foreground: 0 0% 0%;
    --secondary: 204 30% 88%;
    --tertiary-foreground: 21 10% 90%;
    --tertiary: 21 69% 73%;
    --text: 204 5% 10%;
  }
  .dark  {
    --accent-foreground: 204 5% 90%;
    --accent: 166 30% 25%;
    --accent-alt: 166 30% 88%;
    --background: 204 50% 10%;
    --border: 204 30% 50%;
    --card-foreground: 204 5% 90%;
    --card: 204 50% 10%;
    --destructive-foreground: 204 5% 90%;
    --destructive: 0 51% 50%;
    --foreground: 204 5% 90%;
    --input: 204 30% 50%;
    --muted-foreground: 204 5% 65%;
    --muted: 166 30% 25%;
    --popover-foreground: 204 5% 90%;
    --popover: 204 50% 5%;
    --primary-foreground: 0 0% 100%;
    --primary: 204 100% 26.9%;
    --radius: 1rem;
    --ring: 204 100% 26.9%;
    --secondary-foreground: 0 0% 100%;
    --secondary: 204 30% 20%;
    --tertiary: 21 10% 90%;
    --tertiary-foreground: 21 69% 73%;
    --text: 204 5% 90%;
  }
}
